.centerpane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 600px;
  margin: 0 auto;
  border-style: none solid;
  border-width: 1px;
  border-color: grey;
}

@media screen and (max-width: 600px) {
  .centerpane {
    width: 100vw;
    border-style: none;
  }
}

.content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
