.centerpane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: fit-content;
  margin: 0 auto;
  border-style: none solid;
  border-width: 1px;
  border-color: grey;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
